/* CSS Document */

body {
    width: 100%;
}

.footer {
    text-align: center;
    padding-top: 10px;
    color: #333333;
    border-top: 1px solid #e5e5e5;
	bottom:0;
}
.splash { 
	background: #343a40 url("../img/SJTUlogo.png") no-repeat 16% 16px; 
	background-size: 160px; 
	text-align: right; 
	padding: 40px 0; 
	min-height: 185px; 
}

@media only screen and (max-width: 767px) {
	.splash { 
		display: none !important; 
	} 
}

.splash_row { 
	width: 100%; 
	max-width: 980px; 
	min-width: 320px; 
	margin: 0 auto; 
	padding-left: 20px; 
	padding-right: 20px; 
}

.splash_h1, .splash_h5 { 
	color: #ffffff; 
	font-weight: 300;
}
.splash_h1 > span { 
	font-size: larger; 
}


@-ms-viewport{width:device-width} 
.visible-lg,.visible-md,.visible-sm,.visible-xs{
	display:none!important
}


@media (max-width:767px){
	.visible-xs{
         display:block!important
        }
}

.information{
	font-family:'Times New Roman';
/*	font-size: */
}

.pub{
	font-family: 'Times New Roman'
}

.nav-justified{
	width:100%
}
.nav-justified>li{
	float:none
}

.nav-justified>li>a{
	margin-bottom:5px;
	text-align:center
}
.nav-justified>.dropdown .dropdown-menu{
	top:auto;
	left:auto
}
@media (min-width:768px){
	.nav-justified>li{display:table-cell;
		width:1%
	}
	.nav-justified>li>a{margin-bottom:0
	}
}
